%input:focus {
    outline:0;
}

.input-sm {
    padding: 5px 8px;
}

.input-md {
    padding: 10px 14px;
}

.input-lg {
    padding: 15px 20px;
}

.input {
    @extend %input;
}

/*
ez nagyon fontos, hogy amikor van egy class, ami nem .-val, hanem %-vel kezdődik, akkor majd azt lehet egy másik class-ban 
@extend-velni és ott meg lehet majd adni mást is, de majd rendelkezni fog azokkal a tulajdonságokkal is amivel @extend-elve lett!!!!! 
fontos, hogy @extend után kell a % és a class-nak a neve!!!! 
extend elmagyarazas-ban!!!! 
*/

@each $key, $value in $colors {
    .input-#{$key} {
        border: 2px solid map-get($colors, "mid-grey");
        background-color: white;
        border-radius: 4px;

        &:focus { //fontos, hogy a & az a parent selector!!!!!!
            outline:0; 
            border: 2px solid $value;
        }
    }

    .btn-#{$key} {
        border: 2px solid darken($value, 15%);
        background-color: $value;
        border-radius: 4px;
        color: white;
        cursor: pointer;

        &:active {
            outline:0;
            border: 2px solid darken($value, 25%);
            background-color: darken($value, 15%);
        }
    }
}